:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    > * {
        flex-grow: 0;
    }
    .container {
        flex-grow: 1;
        padding: 8px;
        overflow-y: scroll;
    }
}