:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    > * {
        flex-grow: 0;
    }
    .container {
        flex-grow: 1;
        padding: 24px;
        overflow-y: scroll;
    }
    .error {
        color: red;
    }
    .pagination {
        margin-top: 24px;
    }
    form {
        margin-bottom: 24px;
    }
}